/*
=============== 
Variables
===============
*/
:root {
  --clr-background: #1B1B1B
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-white: #fff;
  --clr-secondary: hsla(182, 63%, 54%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: ;
  background: url(../img/background.png) no-repeat center center fixed, #1B1B1B ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}
header {
  height: 15vh;
}

footer {
  height: 15vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Header Styles
===============
*/
/* navbar */
nav {
  background: var(--clr-background);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-background);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}

/*
=============== 
Main Styles
===============
*/
/* grid placement */
main {
  height: 70vh;
  display: grid;
  grid-template-columns: 2;
}
.hero {
  grid-column-start: 1;
  width: 100vh;
  padding-left: 10rem;
}
.sign-up {
  grid-column-start: 2;
}



/* form styling */
.form-title {
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.form {
  border-radius: 5px 5px 0 0;
  width: 20rem;
}
.form input[type = "text"],
.form input[type = "password"] {
  display: block;
  background: #5252526c;
  border: 0;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
  
}
.form input[type = "text"]:focus,
.form input[type = "password"]:focus {
  border: 1px solid #51a9e4;
  
}
.btn1 {
  border:0;
  background: #51a9e4;
  color: #dfdeee;
  border-radius: 0 0 5px 5px;
  width: 20rem;
  height: 49px;
  font-size: 16px;
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
}
.btn1:hover {
  background: #3336e6;
}
.togglePassword {
  position: absolute;
  padding-top: 1rem;
  padding-left: 18rem;
  font-size: 22px;
  cursor: pointer;
}      
.togglePassword.active {
  color: #1B1B1B
}
.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

/*
=============== 
Footer Styles
===============
*/
footer {
  display: flex;
}
.footer-links {
  display: flex;
}
.footer-links a {
  background: transparent;
  color: var(--clr-white);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  margin: 0 1rem;
  font-weight: bold;
  padding: 0;
}
.footer-links a:hover {
  color: var(--clr-white);
}
